# Secrets
.env
*.env
stack.env
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Backups
backups/
*.bak

# Docker runtime data
docker/*/config/
docker/*/cache/
docker/*/data/
docker/*/letsencrypt/
docker/*/Postgres/
docker/*/Library/

# OS/editor files
.vscode/
.DS_Store
Thumbs.db
